<div class="about_area home-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xm-12">
        <div class="about_thumb">
          <img src="assets/images/about-2.jpg" alt="insert image" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about_content">
          <h2>About Us</h2>
          <p>
            <b
              >Our company AO Tours prides itself in providing personalised
              touring services in Aotearoa, New Zealand.
            </b>
          </p>
          <p>
            <b>
              We want your experience to soar high like the white clouds in Aotearoa ( the land of the long white cloud, in Maori ).
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
