<!--START HEADER TOP AREA -->
<div class="tourist-header-top">
    <div class="container">
      <div class="row">
        <!-- TOP LEFT -->
        <div class="col-xs-12 col-md-8 col-sm-7">
          <div class="top-address">
            <p>
              <span><i class="fa fa-phone"></i>+64 274-818-861</span>
              <!-- <a href="#"><i class="fa fa-phone"></i>number</a>
              <a href="#"
                ><i class="fa fa-envelope-o"></i>example@example.com</a
              > -->
            </p>
          </div>
        </div>
        <!-- TOP RIGHT -->
        <!-- <div class="col-xs-12 col-md-4 col-sm-5">
          <div class="top-right-menu text-right">
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- HEADER DEFAULT MANU AREA -->
  <div class="tourist-main-menu one_page hidden-xs hidden-sm">
    <div class="tourist_nav_area scroll_fixed">
      <div class="container">
        <div class="row logo-left">
          <!-- LOGO -->
          <div class="col-md-3 col-sm-3 col-xs-4">
            <div class="logo">
              <a class="main_sticky_main_l" href="#" title="tourist">
                <img
                  src="assets/images/AO Tours - Light Background.png"
                  height="60"
                  width="60"
                  alt="tourist"
                />
              </a>
              <a class="main_sticky_l" href="#" title="tourist">
                <img
                  src="assets/images/AO Tours - Dark Background.png"
                  height="60"
                  width="60"
                  alt="tourist"
                />
              </a>
            </div>
          </div>
  
          <!-- MAIN MENU -->
          <div class="col-md-9 col-sm-9 col-xs-8">
            <nav class="tourist_menu main-search-menu">
              <ul class="sub-menu nav_scroll">
                <li>
                  <a routerLink="/home">Home</a>
                </li>
                <li><a routerLink="/packages">Packages</a></li>
              </ul>
            </nav>
          </div>
          <!-- END MAIN MENU -->
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER MENU AREA -->
  
  <!-- MOBILE MENU AREA -->
  <div class="mbm hidden-md hidden-lg header_area main-menu-area">
    <div class="menu_area mobile-menu">
      <nav>
        <ul class="main-menu clearfix">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li><a routerLink="/packages">Packages</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END MOBILE MENU AREA  -->

<div class="breatcome_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breatcome_title">
          <div class="breatcome_title_inner">
            <h2>Contact</h2>
            <div class="breatcome_content">
              <ul>
                <li>
                  <a href="#">home<i class="fa fa-angle-right"></i></a>contact
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact_area" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="contact_form">
          <h2 class="contact-title">Book Here</h2>
          <form action="#">
            <div class="form_field">
              <mat-form-field
                class="col-sm-12 col-xs-12 col-lg-6 col-md-6"
                appearance="outline"
              >
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [formControl]="name" />
              </mat-form-field>

              <mat-form-field
                class="col-sm-12 col-xs-12 col-lg-6 col-md-6"
                appearance="outline"
              >
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="fromEmail" />
              </mat-form-field>
            </div>
            <div class="form_field">

              <mat-form-field
                class="col-sm-12 col-xs-12 col-lg-12 col-md-12"
                appearance="outline"
              >
                <mat-label>Tour Packages</mat-label>
                <mat-select
                  [formControl]="subject"
                  [(ngModel)]="tourPackages"
                  multiple
                >
                  <mat-option
                    *ngFor="let tourPackages of tourPackage"
                    [value]="tourPackages.value"
                  >
                    {{ tourPackages.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form_field">
              <mat-form-field
                class="col-sm-12 col-xs-12 col-lg-6 col-md-6"
                appearance="outline"
              >
                <mat-label>No. of Adults</mat-label>
                <mat-select [formControl]="subject" [(ngModel)]="noOfAdults">
                  <mat-option
                    *ngFor="let adults of adult"
                    [value]="adults.value"
                  >
                    {{ adults.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="col-sm-12 col-xs-12 col-lg-6 col-md-6"
                appearance="outline"
              >
                <mat-label>No. of Children</mat-label>
                <mat-select [formControl]="subject" [(ngModel)]="noOfChildren">
                  <mat-option
                    *ngFor="let childrens of children"
                    [value]="childrens.value"
                  >
                    {{ childrens.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form_field text_area">
              <mat-form-field
                hintLabel="Max 200 characters"
                appearance="outline"
                class="col-sm-12 col-xs-12 col-lg-12 col-md-12"
              >
                <input
                  matInput
                  maxlength="200"
                  #input
                  maxlength="10"
                  placeholder="Message"
                  [formControl]="message"
                />
                <mat-hint align="end"
                  >{{ input.value?.length || 0 }}/200</mat-hint
                >
              </mat-form-field>
            </div>
            <div class="form_field">
              <div class="contact_button">
                <button
                  name="submit"
                  type="submit"
                  (click)="send()"
                  *ngIf="!emailSuccess"
                >
                  Book
                </button>
              </div>
              <div *ngIf="emailSuccess">
                <p>
                  We have received your email, will get in touch soon.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="company_info">
          <h2 class="contact-title2">Contact Us</h2>
          <div class="single_company_info">
            <div class="company_info_icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="company_info_content">
              <h5>Location</h5>
              <p>1 Carmel Ave, Pakuranga, Auckland, 2010</p>
            </div>
          </div>
          <div class="single_company_info">
            <div class="company_info_icon">
              <i class="fa fa-phone-square"></i>
            </div>
            <div class="company_info_content">
              <h5>Phone</h5>
              <p>+64 274-818-861</p>
            </div>
          </div>
          <!-- <div class="single_company_info">
            <div class="company_info_icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="company_info_content">
              <h5>Gmail</h5>
              <p>demo@example.com</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
