<div class="slick-slider-area">
  <div class="slick-main slider-navegarion-style-one">
    <div class="slick-single-slider slider-2 text-center" data-stellar-background-ratio="0.3">
      <div class="slider-content">
        <h1>Welcome to</h1>
        <h1>AO Tours</h1>
      </div>
    </div>
    <!-- <div class="slick-single-slider slider-1 text-center" data-stellar-background-ratio="0.3">
       <div class="slider-content">
        <h1>Welcome to</h1>
        <h1>AO Tours</h1>
      </div>
    </div> -->

  </div>
</div>