<!--START HEADER TOP AREA -->
<div class="tourist-header-top">
  <div class="container">
    <div class="row">
      <!-- TOP LEFT -->
      <div class="col-xs-12 col-md-8 col-sm-7">
        <div class="top-address">
          <p>
            <span><i class="fa fa-phone"></i>+64 274-818-861</span>
            <!-- <a href="#"><i class="fa fa-phone"></i>number</a> -->
            <a href="#"
              ><i class="fa fa-envelope-o"></i>example@example.com</a
            >
          </p>
        </div>
      </div>
      <!-- TOP RIGHT -->
      <!-- <div class="col-xs-12 col-md-4 col-sm-5">
        <div class="top-right-menu text-right">
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- HEADER DEFAULT MANU AREA -->
<div class="tourist-main-menu one_page hidden-xs hidden-sm">
  <div class="tourist_nav_area scroll_fixed">
    <div class="container">
      <div class="row logo-left">
        <!-- LOGO -->
        <div class="col-md-3 col-sm-3 col-xs-4">
          <div class="logo">
            <a
              class="main_sticky_main_l"
              href="#"
              title="tourist"
            >
              <img src="assets/images/AO Tours - Light Background.png" height="60" width="60" alt="tourist" />
            </a>
            <a class="main_sticky_l" href="#" title="tourist">
              <img src="assets/images/AO Tours - Dark Background.png" height="60" width="60" alt="tourist" />
            </a>
          </div>
        </div>

        <!-- MAIN MENU -->
        <div class="col-md-9 col-sm-9 col-xs-8">
          <nav class="tourist_menu main-search-menu">
            <ul class="sub-menu nav_scroll">
              <li>
                <a href="#banner">Home</a>
              </li>
              <li><a href="#about">About</a></li>
              <li>
                <a routerLink="/packages">Package</a>
              </li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
            <div class="donate-btn-header">
              <a class="dtbtn" routerLink="/contact">Book Now</a>
            </div>
          </nav>
        </div>
        <!-- END MAIN MENU -->
      </div>
    </div>
  </div>
</div>
<!-- END HEADER MENU AREA -->

<!-- MOBILE MENU AREA -->
<div class="mbm hidden-md hidden-lg header_area main-menu-area">
  <div class="menu_area mobile-menu">
    <nav>
      <ul class="main-menu clearfix">
        <li>
          <a href="#banner">Home</a>
        </li>
        <li><a href="#about">About</a></li>
        <li>
          <a routerLink="/packages">Package</a>
        </li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- END MOBILE MENU AREA  -->

